p {
    color: red;
    font-family: montserrat;
    font-size: 18px;
    font-weight:bold;
    font-style: normal;
    text-align: justify;
    text-decoration: dashed;
}

h1 {
    text-align: center;
}